// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
    width: 100%;
    height: auto;
  }

  .khung {
    text-align:  center;
  }

  .box .khung h2,p{
    text-align: left;
  }

  .khung h2 {
    color: black;
    font-size:  20px;
    font-weight: bold;
  }

  .box .khung a{
    padding:10px 30px;
    color: #000;
    background: green;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
  }
  .box .khung a:hover {
    background:  yellow;
  }
