// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.actions {
	width:50px;
	height:10px;
}
.filter-learned{
	width:100%;
	height:auto;

}
.filter{
	width:100%;
	height:150px;

}